@font-face {
  font-family: "maga_sans";
  src: url(/include/maga-sans.ttf);
  src: url(../../)
}
* {
  box-sizing: border-box;
  font-family: "maga_sans", monospace;
}

$borderRadious: 20px;

body {
  background-color: #eee;
  margin: 0;
  padding: 20px 0;
}

section {
  background-color: #fff;
  padding: 50px;
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
  border-radius: $borderRadious;
  box-shadow: 10px 10px 0px lightgray;
}

.display {
  border: 2px solid;
  background-color: #eee;
  padding: 20px;
  margin-bottom: 20px;
  text-align: right;
  text-transform: uppercase;
  border-radius: $borderRadious;
  box-shadow: inset 3px 3px 0 gray;
  word-break: break-all;
}

@mixin buttonLayout($wrap: wrap, $position: relative) {
  display: flex;
  gap: 10px;
  flex-wrap: $wrap;
  position: $position;
}

.numbers {
  display: flex;
  align-items: stretch;
  gap: 10px;
  div {
    @include buttonLayout;
  }
  > div {
    min-height: 60vh;
  }
  &__left {
    flex-direction: column;
    width: calc(100% / 4 * 3);
    button {
      width: calc(100% / 3.5);
    }
  }
  &__top {
    height: calc(100% / 5 - 10px);
    button {
      background-color: #d1d1d1;
    }
  }
  &__bottom {
    height: calc(100% / 5 * 4);
  }
  &__right {
    flex-direction: column;
    width: calc(100% / 4);
    button {
      background-color: lightcoral;
    }
  }
  .hide {
    display: none;
  }
}
button {
  $position: 4px;
  flex-grow: 1;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 2px 2px 0 gray;
  position: inherit;
  top: -$position;
  left: -$position;
  transition: all 0.3s;
  border: 2px solid black;
  font-size: 1.25rem;
  font-weight: bold;
  &.n0 {
    width: calc(100% / 3.5 * 2);
    flex-grow: 3;
  }
  &.onClick {
    top: 0;
    left: 0;
    box-shadow: 0 0 0 gray;
  }
  &.dub {
    color: transparent;
    &::after {
      content: "X";
      display: flex;
      position: absolute;
      color: initial;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }
}
